* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}
:root {
  --pry-color: #0f1b37;
}
a{
  text-decoration: none;
}
body {
  color: var(--pry-color);
  font-size: 18px;
  overflow-x: hidden;
}
.nav {
  padding: 20px;
  position: absolute;
  justify-content: space-between;
  transition: all 1s ease;
  top: 0;
}
.nav-links {
  list-style: none;
  display: flex;
}
.logo {
  text-align: center;
}

.nav-links a,
.logo {
  color: var(--pry-color);
  text-decoration: none;
  font-size: 1rem;
  margin: 5px 10px;
  font-weight: bolder;
  text-transform: uppercase;
}

.nav-links li:hover,
.logo:hover {
  transform: scale(1.1);
}
.toggler {
  color: inherit;
  font-size: 1.4em;
  display: none;
  cursor: pointer;
  border: none;
  background: none;
}
.intro{
  position: relative;
  height: 100vh;
  width: 100%;
}
.intro img{
  opacity: .5;
  max-height: 100vh;
  width: 100vw;
}
.intro-text {
  position: absolute;
  right: 10%;
  bottom: 1rem;
  padding: 30px;
  text-align: center;
  display: flex;
  margin: 5rem 0;
  flex-direction: column;
  width: 30%;
  justify-content: space-evenly;
}

.intro-text > * {
  font-weight: bold;
  margin: 1rem 0;
}
.btn{
  background-color: var(--pry-color);
  color: #efefef;
}
.btn:hover{
  text-decoration: underline;
  color: #efefef;
}
.hero{
  padding: 30px;
  text-align: center;
}
.hero-sub{
  margin: 4rem auto;
  padding: 30px;
  text-align: left;
}
@media only screen and (max-width: 800px) {
  .toggler {
    display: block;
    position: absolute;
    right: 1em;
  }
  .intro-text {
    width: 100%;
  }
  .nav {
    position: relative;
    justify-content: space-between;
    text-align: center;
  }
  .nav-links {
    height: 100vh;
    display: none;
    background-color: inherit;
    margin: 1em auto;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .nav-links li {
    margin: 1em auto;
  }
  .show {
    display: flex;
  }
}
