@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,500;0,700;0,900;1,400&family=Montserrat:ital,wght@0,200;0,500;0,700;1,800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
}
:root {
  --pry-color: #0f1b37;
}
a {
  text-decoration: none;
}
body {
  color: var(--pry-color);
  font-size: 18px;
  overflow-x: hidden;
font-family: 'Montserrat Alternates', sans-serif;}
.nav {
  padding: 20px;
  justify-content: space-between;
  transition: all 1s ease;
}
.nav-links {
  list-style: none;
  display: flex;
}
.logo {
  text-align: center;
  font-weight: bold;
}
.nav-link {
  font-weight: bold;
}
.nav-links a,
.logo {
  color: var(--pry-color);
  text-decoration: none;
  font-size: 1rem;
  margin: 5px 10px;
  font-weight: bolder;
  text-transform: uppercase;
}

.nav-links li:hover,
.logo:hover {
  transform: scale(1.1);
}
.toggler {
  color: inherit;
  font-size: 1.4em;
  display: none;
  cursor: pointer;
  border: none;
  background: none;
}
.intro {
  background-image: url(../img/teahub.io-legal-wallpaper-819891.png);
  background-size: cover;
  width: 100%;
}
.intro-text {
  padding: 30px;
  text-align: center;
  display: flex;
  margin: 5rem 0;
  flex-direction: column;
  width: 30%;
  justify-content: space-evenly;
}

.intro-text > * {
  font-weight: bold;
  margin: 1rem 0;
}
.btn {
  background-color: var(--pry-color);
  color: #efefef;
}
.btn:hover {
  text-decoration: underline;
  color: #efefef;
}
.hero {
  padding: 30px;
  text-align: center;
}
.hero-sub {
  margin: 4rem auto;
  padding: 30px;
  text-align: left;
}
.practice-area,
.testimonials,
.blog-area {
  padding: 50px;
  margin: 1rem auto;
  text-align: center;
}
.area,
.blog-post {
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 300px;
  margin: 2rem 1rem;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
}

.area img {
  width: fit-content;
  height: 100px;
}
.testimonials {
  background-color: var(--pry-color);
  color: #efefef;
}
.blog-post {
  padding: 0;
  height: 400px;
}
.blog-post img {
  height: 50%;
  width: 100%;
}
.blog-text {
  background-color: rgba(240, 240, 240, 0.5);
  width: 100%;
  padding: 20px;
  text-align: left;
  height: 50%;
}
.carousel-item {
  width: 50%;
  padding: 20px;
  margin: 3rem auto;
}
.carousel-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.user {
  display: flex;
  margin: 3rem auto;
  justify-content: center;
}
.user img {
  height: 50px;
  width: auto;
  border: 2px solid;
  border-radius: 50%;
}
.user-info {
  margin-left: 1rem;
  text-align: left;
  font-weight: bold;
}
.user-info small {
  font-size: 0.8rem;
  opacity: 0.3;
}
.outro {
  padding: 0;
  margin-top: 0;
  position: relative;
}
.outro img {
  width: 100%;
  opacity: 0.4;
}
.outro-text {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
footer {
  background-color: var(--pry-color);
  color: #efefef;
}
footer a {
  color: #efefef;
}
.footer-copyright {
  background-color: rgba(0, 0, 0, 0.5);
}
footer ul li {
  padding: 10px;
}
@media only screen and (max-width: 800px) {
  .toggler {
    display: block;
    position: absolute;
    right: 1em;
  }
  .intro-text {
    width: 100%;
  }
  .nav {
    position: relative;
    justify-content: space-between;
    text-align: center;
  }
  .nav-links {
    height: 100vh;
    display: none;
    background-color: inherit;
    margin: 1em auto;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .nav-links li {
    margin: 1em auto;
  }
  .show {
    display: flex;
  }
  .carousel-item {
    width: 100%;
  }
}
